.page {
    padding: 1rem 6.5rem;
    max-width: 60rem;
    margin: 1rem auto;
}

.img-avatar-small {
  max-width: 1.5rem;
}

.img-avatar-medium {
  max-width: 8rem;
}

.poll-secondary.alert-secondary {
  background: none;
}

@media screen and (max-width: 991px) {
  .page {
      padding: 1rem 0rem;
  }
}